<h1>Add a definition for $word.getWord()</h1>

<form action="/definitions" method="post">
  <input type="hidden" name="wordId" value="$word.getId()" id="wordId">

  <div class="form-group">
    <label for="definition">Definition</label>
    <input type="text" name="definition" id="definition" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
