<h1>Add a Word</h1>

<div class="container">
  <form action="/words" method="post">
    <label for="word">Enter a new word for the dictionary:</label>
    <input type="text" name="word" id="word" class="form-control">

    <button type="submit" class="btn btn-success">Add Word</button>
  </form>
</div>
<a href="/words">All Words</a>
